In [ ]:
DataSet:https://www.kaggle.com/datasets/kaggle/sf-salaries

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("Salaries.csv",low_memory=False)

 **Display Top 10 Rows of The Dataset**

In [4]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

**Check Last 10 Rows of The Dataset**

In [ ]:
data.tail(10)

**Find Shape of Our Dataset (Number of Rows And Number of Columns)**

In [ ]:
data.shape

In [ ]:
print("Number OF Rows = ",data.shape[0])
print("Number OF Columns = ",data.shape[1])

**Getting Information About Our Dataset Like Total Number Rows,Total Number of Columns,Datatypes of Each Column And Memory Requirement**

In [ ]:
data.info()

**Check Null Values In The Dataset**

In [ ]:
data.isnull().sum()

**Drop ID, Notes, Agency, and Status Columns**

In [ ]:
data.columns

In [ ]:
data = data.drop(["Id", "Notes", "Agency", "Status"],axis=1)

In [ ]:
data

**Get Overall Statistics About The Dataframe**

In [ ]:
data.describe(include='all')

 **Find Occurrence of The Employee Names(Top 5)**

In [ ]:
data.columns

In [ ]:
data['EmployeeName'].value_counts().head(5)

**Find The Number of Unique Job Titles**

In [ ]:
data["JobTitle"].nunique()

**Total Number of Job Titles Contain Captain**

In [ ]:
len(data[data["JobTitle"].str.contains("Captain", case=False)])

In [ ]:
len(data[data["JobTitle"] == "Captain"])

**Display All the Employee Names From Fire Department**

In [ ]:
data['JobTitle'].str.contains('fire', case=False)

In [ ]:
data[data['JobTitle'].str.contains('FIRE DEPARTMENT', case= False)]

**Find Minimum, Maximum, and Average BasePay**

In [ ]:
data['BasePay'].describe(include='all')

**Replace Not Provided in EmployeeName Column to NaN**

In [ ]:
import numpy as np
data["EmployeeName"].replace('Not provided',np.nan)

In [ ]:
data["EmployeeName"]=data["EmployeeName"].replace('Not provided',np.nan)

In [ ]:
data["EmployeeName"]

**Drop The Rows Having 5 Missing Values**

In [ ]:
data.drop(data[data.isnull().sum(axis=1)==5].index, axis= 0)

**Find Job Title of ALBERT PARDINI**

In [ ]:
data[data["EmployeeName"] ==  'ALBERT PARDINI']["JobTitle"]

**How Much ALBERT PARDINI Make (Include Benefits)?**

In [ ]:
data[data["EmployeeName"] ==  'ALBERT PARDINI']["TotalPayBenefits"]

**Display Name of The Person Having The Highest BasePay**

In [ ]:
data[data["BasePay"].max() == data["BasePay"]]["EmployeeName"]

**Find Average Total Pay of All Employee Per Year**

In [6]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [18]:
data.groupby("Year").mean()['TotalPay']

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

**Find Average Total Pay of All Employee Per JobTitle**

In [19]:
data.groupby("JobTitle").mean()['TotalPay']

JobTitle
ACCOUNT CLERK                                     44035.664337
ACCOUNTANT                                        47429.268000
ACCOUNTANT INTERN                                 29031.742917
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     67594.400000
                                                      ...
X-RAY LABORATORY AIDE                             52705.880385
X-Ray Laboratory Aide                             50823.942700
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    53632.870000
Youth Comm Advisor                                41414.307500
ZOO CURATOR                                       66686.560000
Name: TotalPay, Length: 2159, dtype: float64

**Find Average TotalPay of Employee Having Job Title ACCOUNTANT**

In [37]:
data[data["JobTitle"] == "ACCOUNTANT"]['TotalPay'].mean()

47429.268

**Find Top 5 Most Common Jobs**

In [15]:
data["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64