In [ ]:
DataSet:https://www.kaggle.com/datasets/kaggle/sf-salaries

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("Salaries.csv",low_memory=False)

 **Display Top 10 Rows of The Dataset**

In [4]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

**Check Last 10 Rows of The Dataset**

In [ ]:
data.tail(10)

**Find Shape of Our Dataset (Number of Rows And Number of Columns)**

In [ ]:
data.shape

In [ ]:
print("Number OF Rows = ",data.shape[0])
print("Number OF Columns = ",data.shape[1])

**Getting Information About Our Dataset Like Total Number Rows,Total Number of Columns,Datatypes of Each Column And Memory Requirement**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**Check Null Values In The Dataset**

In [6]:
data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

**Drop ID, Notes, Agency, and Status Columns**

In [14]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [15]:
data = data.drop(["Id", "Notes", "Agency", "Status"],axis=1)

In [16]:
data

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

**Get Overall Statistics About The Dataframe**

In [42]:
data.describe(include='all')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
count,148654,148654,148049,148654,148654,112495,148654.000000,148654.000000,148654.000000
unique,110811,1,109724,66162,84243,98647,NaN,NaN,NaN
top,Kevin Lee,Captain,0.0,0.0,0.0,0.0,NaN,NaN,NaN
freq,13,148654,872,57868,30068,1024,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643
std,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538
min,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000

 **Find Occurrence of The Employee Names(Top 5)**

In [21]:
data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

In [24]:
data['EmployeeName'].value_counts().head(5)

Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: EmployeeName, dtype: int64

**Find The Number of Unique Job Titles**

In [28]:
data["JobTitle"].nunique()

2159

**Total Number of Job Titles Contain Captain**

In [49]:
len(data[data["JobTitle"].str.contains("Captain", case=False)])

148654

In [40]:
len(data[data["JobTitle"] == "Captain"])

148654

**Display All the Employee Names From Fire Department**

In [83]:
data['JobTitle'].str.contains('fire', case=False)

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [82]:
data[data['JobTitle'].str.contains('FIRE DEPARTMENT', case= False)]

Empty DataFrame
Columns: [EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year]
Index: []

**Find Minimum, Maximum, and Average BasePay**

In [78]:
data['BasePay'].describe(include='all')

count     148049
unique    109724
top          0.0
freq         872
Name: BasePay, dtype: object

**Replace Not Provided in EmployeeName Column to NaN**

In [81]:
import numpy as np
data["EmployeeName"].replace('Not provided',np.nan)

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [85]:
data["EmployeeName"]=data["EmployeeName"].replace('Not provided',np.nan)

In [86]:
data["EmployeeName"]

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

**Drop The Rows Having 5 Missing Values**

In [114]:
data.drop(data[data.isnull().sum(axis=1)==5].index, axis= 0)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,Captain,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011
1,GARY JIMENEZ,Captain,155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,ALBERT PARDINI,Captain,212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,Captain,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011
4,PATRICK GARDNER,Captain,134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,Roy I Tillery,Captain,0.00,0.00,0.00,0.00,0.00,0.00,2014
148650,NaN,Captain,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148651,NaN,Captain,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148652,NaN,Captain,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014
148653,Joe Lopez,Captain,0.00,0.00,-618.13,0.00,-618.13,-618.13,2014

**Find Job Title of ALBERT PARDINI**

In [129]:
data[data["EmployeeName"] ==  'ALBERT PARDINI']["JobTitle"]

2    Captain
Name: JobTitle, dtype: object

**How Much ALBERT PARDINI Make (Include Benefits)?**

In [131]:
data[data["EmployeeName"] ==  'ALBERT PARDINI']["TotalPayBenefits"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

**Display Name of The Person Having The Highest BasePay**

In [168]:
data[data["BasePay"].max() == data["BasePay"]]["EmployeeName"]

TypeError: '>=' not supported between instances of 'str' and 'float'

**Find Average BasePay of All Employee Per Year**

In [169]:
data.groupby("Year").mean()['BasePay']

KeyError: 'BasePay'

**Find Average BasePay of All Employee Per JobTitle**

In [166]:
data.groupby("JobTitle").mean()['BasePay']

KeyError: 'BasePay'

**Find Average BasePay of Employee Having Job Title ACCOUNTANT**

In [170]:
**Find Top 5 Most Common Jobs**

SyntaxError: invalid syntax (1153559301.py, line 1)

**Find Top 5 Most Common Jobs**

In [173]:
data[data["JobTitle"].value_counts().head(5)]

KeyError: "None of [Int64Index([148654], dtype='int64')] are in the [columns]"